/* font-family: "OpenSansRegular"; */
@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
	url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "AABebasNeue"; */
@font-face {
	font-family: "AABebasNeue";
	src: url("../fonts/AABebasNeue/AABebasNeue.eot");
	src: url("../fonts/AABebasNeue/AABebasNeue.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AABebasNeue/AABebasNeue.woff") format("woff"),
	url("../fonts/AABebasNeue/AABebasNeue.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
	font-family: "HelveticaLight";
	src: url("../fonts/HelveticaLight/HelveticaLight.eot");
	src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
	url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaNeueBold"; */
@font-face {
	font-family: "HelveticaNeueBold";
	src: url("../fonts/HelveticaNeueBold/HelveticaNeueBold.eot");
	src: url("../fonts/HelveticaNeueBold/HelveticaNeueBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaNeueBold/HelveticaNeueBold.woff") format("woff"),
	url("../fonts/HelveticaNeueBold/HelveticaNeueBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}