/* Styles for all pages */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "OpenSansRegular";
  color: #202020;
  background: #e9eef2;
}
html {
  position: relative;
  min-height: 100%;
  
}
a,
a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #202020;
}
button, 
button:active, 
button:focus {
  outline: none;
}
input,
input:active, 
input:focus,
textarea,
textarea:active, 
textarea:focus
 {
  outline: none;
}
::-webkit-input-placeholder {
   color: #919090;
}
.container {
  width: 90%;
}
.container-menu {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  min-height: 55px;
}
.topnav {
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.list-logo {
  list-style: none;
  display: inline-flex;
  font-size: 12px;
  margin-top: 11px;
  margin-bottom: 4px;
  -webkit-padding-start: 0;
}
.list-logo p {
  display: block;
  margin-left: 15px;
  margin-top: 5px;
  line-height: 14px;
}
.go-in {
  float: right;
  list-style: none;
  display: inline-flex;
  -webkit-padding-start: 0;
  margin-top: 13px;
}
.login {
  margin-top: 4.5px;
  margin-right: 10px;
}
.footer {
  background: #212121;
  bottom: 0px;
  text-align: center;
  padding: 8px 0px 0px 0px;
  /*position: absolute;*/
  right: 0px;
  left: 0px;
  font-size: 20px;
}
.footer-template {
  background: #212121;
  bottom: 0px;
  padding: 8px 0px 0px 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  font-size: 20px;
}
.footer ul,
.footer-template ul {
  list-style: none;
  display: inline-flex;
  -webkit-padding-start: 0;
  font-size: 12px;
  margin-bottom: 4px;
}
.footer p,
.footer-template p {
  margin-left: 15px;
  line-height: 14px;
  text-align: left;
  color: #ffffff;
  margin-top: 3px;
}
.right-ul {
  float: right;
  margin-top: 7px;
}
.right-ul p {
  font-size: 13px;
  text-decoration: underline;
  margin-right: 17px;
  margin-top: 6px;
}
.right-ul button {
  font-size: 13px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 9px;
  padding: 3px 13px;
  color: #ffffff;
}
.right-ul button:hover {
	border: 1px solid #ffffff;
	color: #000000;
	background: #ffffff;
	transition: 0.2s;
}
.desc {
  display: block;
}
.desc a:hover {
	color: #c10000;
}
.mobile-menu {
  display: none;
  cursor: pointer;
  margin-top: -3px;
}
#menu{
  width: 200px;
  height: 100%;
  background-color: #a94545;
  float: right;
  position: absolute;
  right: -201px;
  transition: all 0.3s ease-out;
  z-index: 9;
      top: 2%;
  display: none;
}
#menu ul {
  list-style: none;
  -webkit-padding-start: 0;
  font-size: 15px;
  margin-left: 25px;
  margin-top: 17px;
}
#menu ul li {
  padding: 13px 0px 0px 0px;
}
#menu ul li a {
  color: #ffffff;
}
.show{
  right: 0px !important;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
      z-index: 9999;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  padding: 20px;
  background: #e9eef2;
  border: 1px solid #666;
  width: 320px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
  position: relative;
  text-align: center;
  color: #373737;
  border-radius: 10px;
}
.popup h2 {
  font-family: "HelveticaNeueBold";
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  right: 11px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  max-width: 230px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  margin-bottom: 20px;
}
.popup p {
  margin: 0 0 1em;
  color: #000000;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}
.popup p:last-child {
  margin: 0;
}
.popup-improve {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding: 20px;
  background: #e9eef2;
  border: 1px solid #666;
  width: 450px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
  position: relative;
  text-align: center;
  color: #373737;
  border-radius: 10px;
}
.popup-improve h2 {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 25px;
}
.popup-improve .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  right: 11px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup-improve .close:hover {
  opacity: 1;
}
.popup-improve .content {
  max-height: 400px;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  margin-bottom: 20px;
}
.popup-improve p {
  margin: 0 0 1em;
  color: #000000;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}
.popup-improve p:last-child {
  margin: 0;
}
.wish {
  width: 193px;
  margin-top: 25px;
  font-size: 13px;
  padding: 6px 0px 6px 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.btn-wish {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 5px;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 7px 40px;
  margin-top: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.btn-wish:hover {
  background: #990000;
  border: 1px solid #990000;
  transition: 0.3s;
}
.btn-send {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 5px;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 7px 60px;
  margin-top: 13px;
  font-weight: 600;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.btn-send:hover {
  background: #990000;
  border: 1px solid #990000;
  transition: 0.3s;
}
.popup-improve textarea {
  border: 1px solid #ffffff;
  resize: none;
  width: 330px;
  height: 170px;
  border-radius: 8px;
  padding: 6px 13px;
}
nav {
  position: relative;
}
ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 1.8em;
  background: #ffffff;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 .2em .2em;
  right: 0;
  z-index: 999;
  content: "";
}
ul.dropdown li {
  list-style-type: none;
}
ul.dropdown li a {
  text-decoration: none;
  padding: 4px 13px 10px 4px;
  display: block;
  color: #000000;
  font-weight: 600;
}
.line-bl {
  position: absolute;
  right: 1.3%;
  top: -38%;
}
.dropdown span {
  margin-right: 9px;
}
/* Styles for login.html  */
.container-form {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.login-form {
  background: #c5cace;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  padding: 40px 4px 40px 7px;
  position: relative;
  margin-top: 115px;
}
.login-form h1 {
  font-size: 17.5px;
  line-height: 22px;
}
.email {
  width: 235px;
  margin-top: 25px;
  padding: 5px 0px 5px 10px;
  border: 1px solid #ffffff;
}
.password {
  width: 235px;
  margin-top: 7px;
  padding: 5px 0px 5px 10px;
  border: 1px solid #ffffff;
}
.login-form ul {
  list-style: none;
  display: inline-flex;
  -webkit-padding-start: 0;
  margin-top: 8px;
  font-size: 13.3px;
}
.login-form ul a {
  text-decoration: underline;
  font-weight: 600;
}
.login-form ul a:hover {
  color: #c10000;
  transition: 0.2s;
  font-weight: 600;
}
.forget-pass {
  margin-right: 46px;
}
.login-form button {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 10px;
  color: #ffffff;
  font-family: "AABebasNeue";
  font-size: 30px;
  padding: 13px 88px;
  margin-top: 13px;
}
.login-form button:hover {
  background: #990000;
  transition: 0.3s;
}
.book {
    width: 82%;
    margin-top: -184px;
    margin-bottom: 155px;
}
/* Styles for index.html */
.container-home {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.container-home .col-md-6 {
  padding-left: 0;
}
.notification {
	    margin-top: 50px;
}
.notification h1 {
   font-family: "HelveticaLight";
   text-transform: uppercase;
   line-height: 45px;
   font-size: 32px;
   max-width: 555px;
}
.notification span {
  color: #c10000;
}
.book-resize {
  display: block;
  float: right;
  width: 100%;
  margin-top: 25px;
  margin-right: -58px;
}
.start {
  list-style: none;
  display: inline-flex;
  -webkit-padding-start: 0;
  margin-bottom: 90px;
}
.start button {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 10px;
  color: #ffffff;
  font-family: "AABebasNeue";
  font-size: 30px;
  padding: 10px 20px;
  margin-top: 13px;
}
.start button:hover {
  background: #990000;
  transition: 0.3s;
}
.presents {
  color: #c10000;
  text-transform: uppercase;
  font-weight: 600;
  max-width: 150px;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 25px;
  line-height: 20px;
}
.color-menu {
    background: #e9eef2;
    top: 0;
    position: absolute;
    width: 100%;
}
.boxes {
  margin-bottom: 100px;
  margin-top: -50px;
}
.box-line {
  margin-top: -26px;
  margin-left: 35px;
  font-weight: 600;
  line-height: 18px;
  width: 250px;
  font-size: 15px;
  margin-bottom: 45px;
}
.box-line1 {
  margin-top: -26px;
  margin-left: 35px;
  font-weight: 600;
  line-height: 18px;
  width: 185px;
  font-size: 15px;
  margin-bottom: 25px;
}
.mac {
  margin-top: -155px;
  margin-left: -120px;
  width: 117%;
}
/* Styles for designtemplate.html */
.list li {
  padding: 6px 0px 0px 30px;
}
.logo-pc {
  margin-top: -5px;
}
.href-pc {
  margin-left: -15px;
}
.container-template {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.container-home1 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.styl {
    width: 110%;
    margin-top: 170px;
    margin-left: 60px;
    margin-bottom: 100px;
    display: block;
}
.styl-mob {
    width: 100%;
    position: absolute;
    /*right: 0;*/
    right: -2%;
    margin-top: 88px;
}
.online-constr {
	color: #c10000;
	margin-left: 10px !important;
	font-size: 13px;
}
.edit-template {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 10px;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 13px;
  font-weight: 600;
  float: right;
}
.edit-template:hover {
  background: #990000;
  border: 1px solid #990000;
  transition: 0.3s;
}
.change {
  background: #919191;
  border: 1px solid #919191;
  border-radius: 10px;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 13px;
  font-weight: 600;
}
.change:hover {
  background: #5c5c5c;
  border: 1px solid #5c5c5c;
  transition: 0.3s;
}
.btn-template {
  margin-top: 22px;
  margin-bottom: 23px;
   margin-top: 70px;
}
.row-templates {
  margin-bottom: 230px;
}
.row-templates img {
  width: 97.5%;
  cursor: pointer;
  margin-bottom: 20px;
  height: 290px;
}
/* Styles for personal.html */
.row-personal1 {
  margin-top: 50px;
}
.row-personal img, .row-personal1 img {
    width: auto;
    cursor: pointer;
    margin-bottom: 20px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
}
.bg {
	/*background: #ffffff;*/
	/*width: 97.8%;*/
	text-align: center;
	height: 290px;
	margin-bottom: 20px;
}
.row-personal p,
.row-personal1 p {
  text-align: center;
  margin-top: -7px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 50px;
}
.resize {
  margin-top: 10px;
}
.cont-div {
  margin-bottom: 150px;
  margin-top: 70px;
  /*margin-top: 85px;*/
}
/* Styles for select.html */
.select-design {
    text-align: center;
    font-family: "HelveticaNeueBold";
    font-size: 30px;
    margin-top: 75px;
    margin-bottom: 30px;
}
.hover-img img {
  border: 1px solid #ffffff;
}
.hover-img img:hover {
  border: 1px solid #c10000;
  transition: 0.2s;
}
/* Styles for services.html */
.container-services {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
 margin-bottom: 100px;
 margin-top: 80px;
}
.service {
  text-align: center;
}
.block-service {
  width: 100%;
  padding: 50px 10px 5px 10px;
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 7px;
}
.select-service {
  text-align: center;
  font-family: "HelveticaNeueBold";
  font-size: 30px;
  margin-top: 108px;
  margin-bottom: 60px;
}
.block-service h1 {
  font-family: "HelveticaNeueBold";
  font-size: 26px;
}
.block-service p {
  color: #000000;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 15px;
}
.btn-all {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 5px;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 7px 40px;
  margin-top: 125px;
  font-weight: 600;
  margin-bottom: 15px;
}
.btn-all:hover {
  background: #990000;
  border: 1px solid #990000;
  transition: 0.3s;
}
.tmp {
  width: 215px !important;
}
.btn-size {
  margin-top: 117px;
}
.btn-sizes {
  margin-top: 73px;
}
.popup-copywriting {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding: 20px;
  background: #e9eef2;
  border: 1px solid #666;
  width: 340px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
  position: relative;
  text-align: center;
  color: #373737;
  border-radius: 10px;
}
.popup-copywriting h2 {
  font-family: "HelveticaNeueBold";
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.popup-copywriting .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  right: 11px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup-copywriting .close:hover {
  opacity: 1;
}
.popup-copywriting .content {
  max-height: 400px;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  margin-bottom: 20px;
}
.popup-copywriting p {
  margin: 0 0 1em;
  color: #000000;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}
.popup-copywriting p:last-child {
  margin: 0;
}
.wish1 {
  width: 243px;
  margin-top: 25px;
  font-size: 13px;
  padding: 6px 0px 6px 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
/* Styles for rates.html */
.sales {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 30px;
}
.sales span {
  color: #c10000;
}
.block-rates {
  width: 96%;
  padding: 23px 10px 5px 10px;
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}
.select-rates {
  text-align: center;
  font-family: "HelveticaNeueBold";
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.block-rates h1 {
  font-family: "HelveticaNeueBold";
  font-size: 26px;
  margin-bottom: 25px;
}
.block-rates p {
  color: #000000;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  margin-top: -3px;
}
.block-rates hr {
  border: 1px solid #acacac;
  width: 240px;
  margin-bottom: 30px;
}
.download {
  margin-bottom: 30px;
}
.personal {
  margin-top: 25px !important;
}
.info {
  font-size: 13px !important;
  margin-top: -6px !important;
  margin-bottom: 30px;
}
.update {
  font-size: 13px !important;
  margin-top: -6px !important;
}
.hr-update {
  margin-top: 30px;
}
.block-rates h3 {
  color: #909090;
}
.line-decor {
  color: #c10000;
  text-decoration: line-through;
}
.new-price {
  color: #000000 !important;
  margin-top: 5px;
}
.block-rates h6 {
  color: #c10000;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
}
.btn-discover {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 5px;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 7px 21px;
  font-weight: 600;
  margin-bottom: 30px;
}
.btn-discover:hover {
  background: #990000;
  border: 1px solid #990000;
  transition: 0.3s;
}
/* Styles for page.html */
.container-page {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
      margin-top: 80px;
  margin-bottom: 80px;
}
.gallery-image {
  cursor: pointer;
  position: relative;
  display: block;
  width: 240px;
} 
.gallery-text:hover {
  opacity: 0.8; 
  color: #ffffff;     
}
.gallery-text {
    /* width: 244px; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgb(195, 8, 8);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    vertical-align: middle;
    color: #ffffff;
    font-family: "HelveticaNeueBold";
    font-size: 21.5px;
    line-height: 21px;
    padding: 65px 0px;
}
.gallery-text-hover {
    /* width: 242px; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    vertical-align: middle;
    font-family: "HelveticaNeueBold";
    font-size: 21.5px;
    line-height: 21px;
    padding: 65px 0px;
}
.gallery-text1 {
  /*width: 242px;*/
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  text-align: center;
  background-color: rgb(195, 8, 8);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle;
  color: #ffffff;    
  font-family: "HelveticaNeueBold"; 
  font-size: 20px;  
  line-height: 21px;
  padding: 70px 0px;
}
.order {
	margin-top: 15px;
}
.gallery-text-hover1 {
  /*width: 242px;*/
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle; 
  font-family: "HelveticaNeueBold";
  font-size: 20px;  
  line-height: 21px;
  padding: 70px 0px;
}
.gallery-text1:hover {
  opacity: 0.8; 
  color: #ffffff;     
}
.gallery-image img {
  width: 241px;
  height: 160px;
}
.list-category {
  list-style: none;
  display: inline-flex;    
  -webkit-padding-start: 0;
}
.list-category li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.order p {
  font-size: 14px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000000;
}
.order span {
  font-weight: 600;
  font-size: 15px !important;
}
.order a {
  color: #c10000;
  text-decoration: underline;
  font-weight: 600;
}
.order h6 {
  text-align: center;
  color: #000000;
  font-weight: 600;
  margin-top: 19px;
  margin-bottom: 110px;
}
.add-template {
  font-family: "HelveticaNeueBold";
  font-size: 24px !important;
}
/* Styles for constructor.html */
.constructor {
  margin-top: 70px;
}
.constructor p {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
}
.constructor ul {
  list-style: none;
  -webkit-padding-start: 0;
  display: inline-flex;
}
.ul-format {
    width: 305px;
    margin-left: auto;
    margin-right: auto;
}
.btn-format {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 5px;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 7px 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.btn-format:hover {
  background: #990000;
  border: 1px solid #990000;
  transition: 0.3s;
}
.ul-format ul li {
  margin-left: 9px;
}
/* Styles for download.html */
.list-logo span {
  color: #c10000;
}
.downloads {
  margin-top: 6px;
  display: block;
}
.downloads p {
  font-size: 14px;
}
/* Styles for registration.html */
.registration-form {
  background: #c5cace;
  width: 400px;
  text-align: center;
  padding: 40px 4px 40px 7px;
  position: relative;
}
.registration-form h1 {
   font-size: 17.5px;
   line-height: 22px;
   margin-bottom: 14px;
   max-width: 250px;
   margin-left: auto;
   margin-right: auto;
}
.registration-form ul {
  list-style: none;
  display: inline-flex;
  -webkit-padding-start: 0;
  margin-top: 8px;
  font-size: 13.3px;
}
.registration-form ul a {
  text-decoration: underline;
  font-weight: 600;
}
.registration-form ul a:hover {
  color: #c10000;
  transition: 0.2s;
  font-weight: 600;
}
.registration-form button {
  background: #c10000;
  border: 1px solid #c10000;
  border-radius: 10px;
  color: #ffffff;
  font-family: "AABebasNeue";
  font-size: 30px;
  padding: 13px 39px;
  margin-top: 37px;
}
.registration-form button:hover {
  background: #990000;
  transition: 0.3s;
}
.registr {
    margin-top: 110px;
}
.registr h2 {
  margin-left: 20px;
  margin-top: -7px;
  font-weight: 600;
  text-transform: uppercase;
  color: #c10000;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 77px;
}
.fix {
  margin-left: 20px;
}
.letter {
  margin-top: -100px;
  margin-left: 35px;
  width: 600px;
  color: #c10000;
  font-weight: 600;
  font-size: 15px;
}
.res {
  margin-bottom: 22px;
}
.form-book {
   width: 90%;
   margin-top: -140px;
   margin-bottom: 125px;
}
.registration-form a {
  color: #ffffff;
}
  .styl-mob {
  	display: none;
  }
.mon {
	display: none;
}
/* Media queries */
@media (min-width: 1900px) {
  .mac {
    margin-top: -110px;
    margin-left: -115px;
    width: 106%;
  }
  .book-resize {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .start {
    top: 344px !important;
  }
}
@media (min-width: 1440px) {
  .book-resize {
    margin-right: -92px;
    width: 110%;
  }
  .mac {
    margin-top: -124px;
    margin-left: -104px;
    width: 119%;
  }
  .start {
    top: 357px;
  }
}
@media (max-width: 1300px) {
  .container-menu,
  .container-home,
  .container-template,
  .container-services,
  .container-home1 {
    width: 90%;
  }
  .list-category {
    display: inline-table;
  }
}
@media (max-width: 991px) {
  .container {
    width: auto;
  }
  .notification {
	    margin-top: 0px;
}
.bg {
	height: auto;
}
.footer {
    position: absolute;
}
  .list-logo {
    margin-top: 10px !important;
}
  .login-form {
    margin-top: 85px;
	}
  .mon {
  	display: inline-flex;
  	margin-left: 17px;
  }
  .mob-l {
  	display: none;
  }
  .start {
  	display: block;
  }
  .color-menu {
  	background: #ffffff;
  	width: 100%;
  }
  .container-home1 {
  	margin-top: 50px;
  }
  .book {
    width: 97%;
    margin-top: -86px;
    margin-bottom: 90px;
  }
  .row-templates img,
  .row-personal img,
  .row-personal1 img {
    height: auto;
    width: 97.8%;
  }
  .order p {
    width: 100%;
  }
  .registration-form {
    width: 100%;
    margin-top: -35px;
  }
  .registr h2 {
    text-align: center;
    margin-top: 25px;
    margin-left: 0;
  }
  .form-book {
    margin-top: 27px;
  }
  .letter {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .downloads {
    display: none;
  }
  .gallery-text:hover,
  .gallery-text1:hover {
	  opacity: 0; 
	  color: #ffffff;     
	}
	.registration-form h1 {
    	max-width: 350px;
    	margin-bottom: 0px;
	}
	.registration-form {
    	padding: 1px 4px 20px 7px;
	}
	.registration-form button {
	    margin-top: 17px;
	}
}
@media (min-width: 769px) {
  #menu {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .foot {
    text-align: center;
  }
   .styl {
   	display: none;
	}
	.styl-mob {
	   display: block;
	}
  .right-ul,
  .edit-template {
    float: none;
  }
  .mobile-menu {
    display: block;
  }
  .desc {
    display: none;
  }
  .popup {
    margin-top: 100px;
  }
  .container-page {
    width: 256px;
  }
  .container-page {
    margin-bottom: 150px;
  }
  .list-category {
    margin-bottom: 0px;
  }
    .gallery-image img {
  	height: auto;
	}
}
@media (max-width: 480px) {
  .list-logo p,
  .book {
    display: none;
  }
  .popup-improve {
    width: 292px;
    margin-top: 100px;
  }
  .popup-improve textarea {
    width: 245px;
  }
   .styl-mob {
    margin-top: 130px;
    width: 88%;
  }
  .start button {
    margin-left: 20px !important;
	}
	.presents {
    margin-left: 10px;
    margin-top: 14px;
	}
	.boxes-mob {
		    margin-top: -69px;
		margin-left: 20px;
	}
.line-mob {
    margin-bottom: 17px;
    width: 190px;
    font-size: 14px !important;
    margin-left: 23px;
}
	.line-mob1 {
    margin-bottom: 12px;
   margin-left: 23px;
       font-size: 14px !important;
}
	.container-home1 {
		margin-bottom: 120px;
	}
	.boxes span img {
		  width: 18px;
	}
}
@media (max-width: 400px) {
 .login-form {
    width: 280px;
  }
  .go-in {
    margin-right: 20px;
}
  .right-ul button,
  .right-ul p {
    font-size: 12px;
  }
  .popup {
    width: 295px;
  }
  .popup-copywriting {
    width: 292px;
  }
.notification h1 {
    line-height: 27px !important;
    font-size: 22px !important;
    margin-left: 20px;
}
	.start button {
	    margin-top: 0px;
	    font-size: 22px;
	        margin-top: 5px;
	}
.presents {
    font-size: 18px;
    line-height: 20px;
    margin-left: 20px;
}
.line-mob {
    margin-bottom: 17px;
    width: 190px;
    font-size: 14px !important;
    margin-left: 23px;
}
.line-mob1 {
	    font-size: 14px !important;
	 width: 158px;
	 margin-left: 23px;
}
.styl-mob {
    margin-top: 205px;
    width: 89%;
}
}
@media (max-width: 350px) {
 .login-form {
    width: 280px;
  }
  .right-ul button,
  .right-ul p {
    font-size: 12px;
  }
  .popup {
    width: 295px;
  }
  .popup-copywriting {
    width: 292px;
  }
  .notification h1 {
	    line-height: 22px !important;
	    font-size: 17px !important;
	}
	.start button {
	    margin-top: 0px;
	    font-size: 22px;
	}
	.presents {
	    font-size: 15px;
	    line-height: 16px;
	}
	.line-mob {
    margin-bottom: 17px;
    width: 158px;
    font-size: 12px !important;
}
.line-mob1 {
	font-size: 12px !important;
	 width: 158px;
}
.styl-mob {
    margin-top: 151px;
    width: 92%;
}
}


.pay {
	background-image: url(../images/btn.png) !important;
	height: 66px;
	width: 234px;
}
.pay:hover {
	background-image: url(../images/btn-hover.png) !important;
	
}
.log_in {
	background-image: url(../images/btn-log.png) !important;
	height: 66px;
	width: 234px;
}
.log_in:hover {
	background-image: url(../images/btn-log-hover.png) !important;
}
.mark-kt {
	background-image: url(../images/btn-mark.png) !important;
	height: 66px;
	width: 301px;
}
.mark-kt:hover {
	background-image: url(../images/btn-mark-hover.png) !important;
}
.pdf-mail {
    margin-bottom: 72px;
}
.cont-row {
    margin-bottom: 150px;
    
}
.my-body {
	height: auto !important;
}
#userTemplateElem,#deleteSubject
{
    position: relative;
    float:left;
    margin-bottom: 5px;
}

#userTemplateElem:hover input,#subjectElem:hover input
{
    display: block;
}

#userTemplateElemDelete
{
    position:absolute;
    top:10px;
    left:20px;
    display:none;
}
#userTemplateElemDuplicate
{
    position:absolute;
    top:10px;
    left:90px;
    display:none;
}
#deleteSubject
{
    position:absolute;
    top:30px;
    left:20px;
    display:none;
}
#editSubject
{
    position:absolute;
    top:30px;
    left:90px;
    display:none;
}
